* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum,
    sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

body,
#root {
  height: 100vh;
  overflow: auto;
}
