@import "../Constant.scss";

.header {
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
  line-height: 4rem;
  display: flex;
  justify-content: center;
}

.header-content {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-input-container {
  display: flex;
  line-height: 100%;
}

.header-input {
  width: 20rem;
  height: 2rem;
  padding: 5px;
  border: 1px solid $text-light;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:focus {
    outline: 2px solid $pri;
  }
}

.vertical-aligner {
  height: 100%;
  width: fit-content;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-btn {
  background-color: $pri;
  border: none;
  width: 3rem;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: $pri-dark;
  }
}

.logo {
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.logo-text {
  color: $pri-dark;
}

.login-btn {
  height: 2.4rem;
  width: 6rem;
  background-color: transparent;
  border: 4px solid $pri;
  font-size: 16px;
  border-radius: 1.2rem;

  &:hover {
    background-color: $pri;
    cursor: pointer;
  }
}

.profile-container {
  display: flex;
  max-width: 300px;
  justify-content: center;
  align-content: center;
}

.profile-username {
  font-size: 1.5rem;
  font-weight: bolder;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}
