$pri: #2196f3;
$pri-dark: #1976d2;
$pri-light: #bbdefb;
$pri-light-hover: #c9e5fc;
$pri-light-active: #a2d3fc;
$pri-acc: #03a9f4;
$text: #212121;
$text-light: #757575;
$dim: #bdbdbd;
$dim-hover: #cacaca;
$dim-active: #adadad;
$white: #ffffff;
$white-hover: #f0f0f0;
$white-active: #e0e0e0;
$link: rgb(17, 49, 255);
