@import "./Constant.scss";

* {
  padding: 0;
}

.textarea,
.input {
  width: 100%;
}

.textarea:focus,
.input:focus {
  outline: $pri solid 1px;
  border: none;
  resize: none;
}

.value {
  width: 100%;
  overflow: hidden;
}
